{% block delete_button %}

  {% if owner == user %}
    <form method="post" action="
        {% if path_name == 'job_delete' %}
          {% url 'job_delete' username=user.username slug=resume.slug section=section pk=pk %}
        {% elif path_name == 'comment_delete' %}
          {% url 'comment_delete' pk=pk %}
        {% else %}
          {% url path_name username=user.username slug=resume.slug pk=pk %}
        {% endif %}
    ">
      {% csrf_token %}
      <button class="btn ms-auto btn-sm" type="submit">
        <i class="fa-regular fa-trash-can"></i>
      </button>
    </form>
  {% endif %}

{% endblock %}
