{% extends 'base.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
  {% include 'breadcrumbs_base.html' %}
  {% block main_content %}

    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h1>Добавление профиля пользователя</h1>
          <p>Перед тем как перейти к созданию резюме, расскажите немного о себе.</p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12">

          <form method="post">
            {% csrf_token %}
              <div class="mb-3">
                <label for="id_birth_date" class="form-label">День вашего рождения:</label>
                {{ form.birthday_date }}
                <div id="birthday_dateHelp" class="form-text">Дата рождения используется для расчета вашего возраста в резюме и при восстановлении пароля учетной записи.</div>
              </div>
              <div class="mb-3">
                <label for="id_gender" class="form-label">Пол:</label>
                {{ form.gender }}
              </div>
              <div class="mb-3">
                <label for="id_phone_number" class="form-label">Телефон:</label>
                {{ form.phone_number }}
                <div id="phone_numberHelp" class="form-text">Укажите действующим номер телефона, чтобы ваш будущий работодатель смог до вас дозвониться.</div>
              </div>
              <div class="mb-3">
                <label for="id_avatar" class="form-label">Фото профиля:</label>
                {{ form.avatar }}
              </div>

              <button type="submit" class="btn btn-primary">Отправить</button>
          </form>

        </div>
      </div>
    </div>




  {% endblock %}

{% endblock %}