{% block footer_info %}

  <div class="comment-info-block col-sm-6">
    <small class="">{{ object.created_date | date:'d.m.Y' }}</small>
    {% if object.updated_date != object.created_date %}
      <small class="align-self-center">Ред.: {{ object.updated_date | date:'d.m.Y' }}</small>
    {% endif %}
    {% if owner %}
      <small>
        <a href="{% url 'primary_resume' username=owner.username %}">
          {% if owner.first_name %}
            {{ owner.first_name }}
          {% else %}
            {{ owner.username }}
          {% endif %}
        </a>
      </small>
    {% endif %}
  </div>

{% endblock %}