$primary-color: #146bb0;
$secondary-color: #b393d3;


$text-gradient: linear-gradient(to left, $primary-color, $secondary-color);
$transition-timing: 0.3s ease;
$shadow-color: #0B3F68;
$hovered-item-shadow: 0 1rem 1.5rem rgba($shadow-color, .1);

$twitter-color: #55acee;
$facebook-color: #3b5998;
$instagram-color: #ac2bac;
$linkedin-color: #0082ca;
$vk-color: #4c75a3;
$github-color: #333333;