h2 {
    color: #146bb0;
}

h3:not(.popover-header) {
    color: #146bb0;
}

a {
    color: #146bb0; /* Цвет ссылок */
}

.progress-bar, .bg-primary {
    background-color: #146bb0 !important;
}

.title-icon {
    vertical-align: sub;
}

.social-plus-sign {
 display:none;
}
.social-link:hover .social-logo {
 display:none;
}
.social-link:hover .social-plus-sign{
 display:block;
}

.hidden-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.item:hover .hidden-buttons-block {
    opacity: 1;
}
