h2 {
    color: #146bb0;
}

h3:not(.popover-header) {
    color: #146bb0;
}

a {
    color: #146bb0; /* Цвет ссылок */
}

.progress-bar, .bg-primary {
    background-color: #146bb0 !important;
}

.title-icon {
    vertical-align: sub;
}

.social-plus-sign {
 display:none;
}
.social-link:hover .social-logo {
 display:none;
}
.social-link:hover .social-plus-sign{
 display:block;
}

.main-education-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.main-education-item:hover .main-education-buttons-block {
    opacity: 1;
}

.institution-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.institution-item:hover .institution-buttons-block {
    opacity: 1;
}

.additional-education-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.additional-education-item:hover .additional-education-buttons-block {
    opacity: 1;
}

.electronic-certificate-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.electronic-certificate-item:hover .electronic-certificate-buttons-block {
    opacity: 1;
}

.close-skill-badge, .like-skill-badge {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.skill-item:hover .close-skill-badge, .skill-item:hover .like-skill-badge {
    opacity: 1;
}

.work-exp-section-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.work-exp-section-item:hover .work-exp-section-buttons-block {
    opacity: 1;
}

.job-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.job-item:hover .job-buttons-block {
    opacity: 1;
}

/*.resume-position-update-button {*/
/*    opacity: 0;*/
/*    transition: opacity 0.3s ease 0.2s;*/
/*}*/
/*.resume-position-item:hover .resume-position-update-button {*/
/*    opacity: 1;*/
/*}*/

.resume-about-me-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.resume-about-me-item:hover .resume-about-me-buttons-block {
    opacity: 1;
}

.resume-soft-skills-buttons-block {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
}
.resume-soft-skills-item:hover .resume-soft-skills-buttons-block {
    opacity: 1;
}