{% block new_create_form %}

  {% if owner == user %}
    <form method="post" {% if enctype == 'multipart' %}enctype="multipart/form-data"{% endif %}
          action="
            {% if path_name == 'job_create' %}
              {% url path_name username=user.username slug=resume.slug section=section.pk %}
            {% else %}
              {% url path_name username=user.username slug=resume.slug %}
            {% endif %}
          ">
      {% csrf_token %}
      {% if path_name == 'work_exp_section_create' and resume.workexpsection_set.all %}
        <hr>
      {% endif %}
      <div class="input-group mb-5">
        {% for field in form %}
          {% if field.name == 'image' %}
            <label class="btn btn-outline-secondary d-flex align-items-center" for="id_image">
              <input id="id_image" name="image" type="file" class="d-none">
              <i class="fa-regular fa-image"></i>
            </label>
          {% else %}
            {{ field }}
          {% endif %}
        {% endfor %}
        {% if not form %}
          <span class="input-group-text flex-grow-1">{% include 'blocks/forms/span_text_for_create_form.html' %}</span>
         {% endif %}
        <button class="btn btn-outline-secondary fw-bold" type="submit" id="button-addon2">+</button>
      </div>
    </form>
  {% endif %}

{% endblock %}