{% load djutils %}

{% block comments_modal %}

  <div class="modal fade" id="comments-{{ uuid_key }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">
        {% if delete_path_name != 'job_delete' %}
          <div class="m-1">
            <ul class="content-item p-0">
              {% include 'app_resume/blocks/item.html' with modal='comments' %}
            </ul>
          </div>
        {% endif %}
        <div class="modal-header">
          <h1 class="modal-title fs-5 d-block" id="exampleModalLabel">Комментарии</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush mb-4">
            {% if not comments|get_value_from_dict:uuid_key %}
              <p>Комментариев пока нет, но вы можете оставить свой!</p>
            {% endif %}
            {% for comment in comments|get_value_from_dict:uuid_key %}
              {% include 'blocks/comment_item.html' %}
            {% endfor %}
            {% include 'blocks/messages.html' with path_name='comment_create' %}
          </ul>
          <form method="post" action="{% url 'comment_create' pk=uuid_key %}">
            {% csrf_token %}
            <label for="id_message" class="form-label">Добавить комментарий:</label>
            <div class="input-group">
              {{ comment_form.message }}
              <button type="submit" class="btn btn-secondary fw-bold">+</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}