{% block page_header %}

  <div class="row mb-4">
    <div class="col-12">
      <h1>{{ title }}</h1>
      <p>
        {% if user.is_authenticated and user.first_name %}
          Привет, {{ user.first_name }}!
        {% elif user.is_authenticated %}
          Привет, {{ user.username }}!
        {% endif %}
        {% if path_name == 'resume_list' %}
          На этой странице вы можете посмотреть резюме других пользователей.
          Они располагаются в порядке их рейтинга. Рейтинг можно увеличить
          добавив больше данных в ваше резюме, а также за лайки и комментарии.
        {% elif path_name == 'profile' %}
          На этой странице вы можете посмотреть данные своего профиля.
          Они используются при формировании резюме и для связи с работодателем.
        {% elif path_name == 'create_profile' %}
          Перед тем как перейти к созданию резюме, расскажите немного о себе.
        {% elif path_name == 'login' %}
          Используйте свой логин и пароль, чтобы авторизоваться на сайте.
        {% elif path_name == 'signup' %}
          Зарегистрируйтесь, чтобы иметь возможность составить свое резюме и оставлять комментарии.
        {% elif path_name == 'user_update' %}
          Вы можете изменить имя пользователя, адрес электронной почты или личные данные.
        {% elif path_name == 'post_list' %}
          На этой странице представлены
          {% if author == user %}ваши новости.
          {% elif author%}новости пользователя {{ author.first_name|title }}.
          {% else %}новости других пользователей.{% endif %}
          Посты отображаются в хронологическом порядке. Вы можете оставлять комментарии и лайки,
          чтобы поддержать общение и обмен мнениями в сообществе.
        {% endif %}
      </p>
    </div>
  </div>

{% endblock %}