{% load djutils %}

{% block additional_education_comments_modal %}

  <div class="modal fade" id="comments-{{ education.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Комментарии</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush mb-5">
            {% if not comments|get_value_from_dict:education.pk %}
              <p>Комментариев пока нет, но вы можете оставить свой!</p>
            {% endif %}
            {% for comment in comments|get_value_from_dict:education.pk %}
              {% include 'app_resume/blocks/comment_item.html' %}
            {% endfor %}
            {% include 'app_social/blocks/comment_info_messages_block.html' %}
          </ul>
          <form method="post" action="{% url 'comment_create' pk=education.pk %}">
            {% csrf_token %}
            <label for="id_message" class="form-label">Добавить комментарий:</label>
            <div class="input-group">
              {{ comment_form.message }}
              <button type="submit" class="btn btn-secondary fw-bold">+</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}