{% load djutils %}

{% block comment_item %}

  <li class="list-group-item">
    <div class="comment-item mt-2">
      {% if comment.user %}
        <a href="{% url 'primary_resume' username=comment.user.username %}" class="text-uppercase mb-1">{{ comment.user.username }}</a>
      {% else %}
        <p class="text-uppercase mb-1 text-body-secondary">Аноним</p>
      {% endif %}
      <p class="comment-text">{{ comment.message }}</p>
      <form method="post" action="{% url 'comment_update' pk=comment.pk %}"
            style="display: none;" class="edit-form">
        {% csrf_token %}
        <div class="">
          {{ comment_edit_forms|get_value_from_dict:comment.pk }}
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm mt-1">Сохранить</button>
          </div>
        </div>
      </form>
      <div class="item-footer container p-0">
        <div class="row">
          <div class="comment-info-block col-sm-8 mt-2">
            <small class="">{{ comment.created_date  | date:'d.m.Y G:i' }}</small>
            <br>
            {% if comment.updated_date != comment.created_date %}
              <small class="align-self-center">Отредактировано: {{ comment.updated_date | date:'d.m.Y G:i' }}</small>
            {% endif %}
          </div>
          <div class="comment-buttons-block d-flex align-items-end justify-content-md-end col-sm-4 mt-2">
            {% include 'app_resume/blocks/buttons/edit_button.html' with owner=comment.user prefix='edit-comment-' id=comment.pk %}
            {% include 'app_resume/blocks/buttons/delete_button.html' with path_name='comment_delete' pk=comment.pk %}
            {% include 'app_resume/blocks/buttons/like_button.html' with uuid_key=comment.pk %}
          </div>
        </div>
      </div>
    </div>
  </li>

{% endblock %}