{% load djutils %}

{% block electronic_certificate_update_modal %}

  <div class="modal fade" id="{{ certificate.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{% url 'electronic_certificate_update' username=user.username slug=resume.slug pk=certificate.pk %}">
          {% csrf_token %}
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for field in  electronic_certificate_forms|get_value_from_dict:certificate %}
              <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {% if not field.name == 'completion_percentage' %}
                  {{ field }}
                {% endif %}
                {% if field.name == 'certificate_url' %}
                  <div id="certificate_urlHelp" class="form-text">Прикрепите ссылку на ваш сертификат в интернете.</div>
                {% elif field.name == 'certificate' %}
                  <div id="certificateHelp" class="form-text">Вы можете загрузить ваш сертификат на сайт.</div>
                {% elif field.name == 'completion_percentage' %}
                  <div class="mb-3 d-flex align-items-center">
                    {{ field }}
                    <span class="input-group-text ms-3">
                      <output id="range_value_{{ certificate.pk }}" class="completion-percentage-value"></output>
                    </span>
                  </div>
                  <div id="diplomaHelp" class="form-text">Оценка или процент выполнения курса по шкале от 0 до 100.</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}