{% load djutils %}

{% block institution_update_modal %}

  <div class="modal fade" id="{{ institution.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{% url 'institution_update' username=user.username slug=resume.slug pk=institution.pk %}">
          {% csrf_token %}
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for field in  institution_forms|get_value_from_dict:institution %}
              <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.name == 'description' %}
                  <div id="descriptionHelp" class="form-text">Опишите факультет или специальность которую вы получили.</div>
                {% elif field.name == 'website_url' %}
                  <div id="website-urlHelp" class="form-text">Вы можете добавить URL ссылку на сайт учебного учреждения.</div>
                {% elif field.name == 'diploma' %}
                  <div id="diplomaHelp" class="form-text">Вы можете загрузить на сайт ваш диплом.</div>
                {% elif field.name == 'is_primary' %}
                  <div id="isPrimary" class="form-text">Если сделать элемент главным эта информация будет отображаться на странице поиска.</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}