{% load djutils %}

{% block job_update_modal %}

  <div class="modal fade" id="{{ job_form_dict.job.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{% url 'job_update' username=user.username slug=resume.slug section=section.pk pk=job_form_dict.job.pk %}">
          {% csrf_token %}
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for field in  job_form_dict.job_update_form %}
              <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.name == 'description' %}
                  <div id="descriptionHelp" class="form-text">Опишите проект или ваши обязанности на должности в компании.</div>
                {% elif field.name == 'project_url' %}
                  <div id="project-urlHelp" class="form-text">Вы можете добавить URL ссылку на портфолио или проект над которым вы работали.</div>
                {% elif field.name == 'git_url' %}
                  <div id="git-urlHelp" class="form-text">Вы можете добавить URL ссылку на ваш в проект на GitHub.</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}