{% load djutils %}

{% block update_modal %}

  {% if owner == user %}
    <div class="modal fade" id="{{ prefix }}{{ object.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="post" action="
              {% if path_name == 'job_update' %}
                {% url path_name username=user.username slug=resume.slug section=object.work_exp_section.pk pk=object.pk %}
              {% elif path_name == 'resume_about_me_update' or path_name == 'resume_position_update' or path_name == 'resume_soft_skills_update' %}
                {% url path_name username=user.username slug=resume.slug %}
              {% else %}
                {% url path_name username=user.username slug=resume.slug pk=object.pk %}
              {% endif %}
          ">
            {% csrf_token %}
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% for field in form %}
                <div class="mb-3">
                  <label class="form-label">{{ field.label }}</label>
                  {% if path_name == 'electronic_certificate_update' and field.name == 'completion_percentage' %}
                    <div class="mb-3 d-flex align-items-center">
                      {{ field }}
                      <span class="input-group-text ms-3">
                        <output id="range_value_{{ certificate.pk }}" class="completion-percentage-value"></output>
                      </span>
                    </div>
                  {% else %}
                    {{ field }}
                  {% endif %}
                  {% include 'app_resume/blocks/forms/help_fields.html' with path_name=path_name %}
                </div>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}