{% load djutils %}

{% block work_exp_section_update_modal %}

  <div class="modal fade" id="{{ section.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{% url 'work_exp_section_update' username=user.username slug=resume.slug pk=section.pk %}">
          {% csrf_token %}
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for field in  work_exp_section_update_forms|get_value_from_dict:section %}
              <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.name == 'title' %}
                  <div id="titleHelp" class="form-text">
                    Заголовок для периода работы. Это может быть название организации или отрасли.
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}