{% block breadcrumbs %}
  <div class="container my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-3 bg-light bg-gradient rounded-3 shadow-sm">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="{% url 'main' %}">
            <i class="fa-solid fa-house"></i>
            <span class="visually-hidden">Home</span>
          </a>
        </li>
        {% if breadcrumbs %}
          {% for text, url in breadcrumbs %}
            <li class="breadcrumb-item">
              {% if url %}
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url }}">{{ text }}</a>
              {% else %}
                <p class="fw-semibold text-decoration-none d-inline">{{ text }}</p>
              {% endif %}
            </li>
          {% endfor %}
        {% else %}
          <li class="breadcrumb-item">
            <p class="fw-semibold text-decoration-none d-inline">404 - Страница не найдена</p>
          </li>
        {% endif %}
      </ol>
    </nav>
  </div>
{% endblock %}

