{% extends 'base.html' %}

{% load djutils %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}

{% block content %}
  {% include 'blocks/navigation/breadcrumbs.html' %}
  {% block main_content %}
    <div class="container">
      {% include 'blocks/page_header.html' with path_name='post_list' %}
      <div class="row mb-5 gx-2" data-masonry='{"percentPosition": true }'>
        {% for object in page_obj %}
          {% if not forloop.counter|divisibleby:2 %}
            <div class="col-md-6">
              {% include 'blocks/objects/object.html' with delete_path_name='post_delete' update_path_name='post_update' form_set=post_update_forms enctype='multipart' %}
            </div>
          {% endif %}
          {% if forloop.counter|divisibleby:2 %}
            <div class="col-md-6">
            {% include 'blocks/objects/object.html' with delete_path_name='post_delete' update_path_name='post_update' form_set=post_update_forms enctype='multipart' %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% include 'blocks/navigation/pagination.html' %}
    </div>

  {% endblock %}

{% endblock %}