{% extends 'base.html' %}

{% load djutils %}

{% block title %}Обзор{% endblock %}

{% block content %}
  {% include 'breadcrumbs_base.html' %}
  {% block main_content %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Обзор</h1>
          <p>
            Привет,
            {% if user.first_name %}
              {{ user.first_name }}
            {% else %}
              {{ user.username }}
            {% endif %}
            !
            На этой странице вы можете посмотреть резюме других пользователей.
            Они располагаются в порядке и рейтинга. Рейтинг можно увеличить
            Добавив больше данных в ваше резюме, а также за лайки и комментарии.
          </p>
        </div>
      </div>
      <div class="row">
        <ul class="list-group list-group-flush">
          {% for resume in object_list %}
            <li class="list-group-item">
              <div class="comment-item">
                <p class="text-uppercase mb-1">{{ resume.user.first_name }} {{ resume.user.last_name }}</p>
                <p class="comment-text">{{ resume.position }}</p>
                <div class="item-footer d-flex justify-content-between">
                  <div class="comment-info-block align-self-center">
                    <small class="">{{ resume.created_date  | date:'d.m.Y G:i' }}</small>
                    <br>
                    {% if resume.updated_date != resume.created_date %}
                      <small class="align-self-center">Отредактировано: {{ resume.updated_date | date:'d.m.Y G:i' }}</small>
                    {% endif %}
                  </div>
                  <div class="comment-buttons-block d-flex align-items-end">
                    <button type="button" class="btn ms-auto btn-sm" id="like-{{ resume.pk }}"
                            onclick="clickLike('{{ resume.pk }}')">
                      <i class="fa-heart
                        {% if resume.pk in users_likes_uuid %}
                          fa-solid">
                        {% else %}
                          fa-regular">
                        {% endif %}
                      </i>
                      <small>
                        {% if like_counts|get_value_from_dict:resume.pk %}
                          {{ like_counts|get_value_from_dict:resume.pk }}
                        {% else %}
                          0
                        {% endif %}
                      </small>
                    </button>
                    <button type="button" class="btn ms-auto btn-sm" data-bs-toggle="modal" data-bs-target="#comments-{{ resume.pk }}">
                      <i class="fa-regular fa-comment"></i>
                      <small>
                        {% if comment_counts|get_value_from_dict:resume.pk %}
                          {{ comment_counts|get_value_from_dict:resume.pk }}
                        {% else %}
                          0
                        {% endif %}
                      </small>
                    </button>
                    <button type="button" class="btn ms-auto btn-sm"
                            data-bs-toggle="tooltip"
                            data-bs-title="Рейтинг резюме определяется на основе количества
                            заполненных полей и активности других пользователей">
                      <i class="fa-regular fa-star"></i>
                      <small>{{ resume.rating }}</small>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              {% include 'app_social/blocks/resume_list_comments_modal.html' %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% endblock %}

{% endblock %}