{% extends 'base.html' %}

{% load djutils %}
{% load static %}


{% block title %}Ваш профиль{% endblock %}

{% block content %}
  {% include 'breadcrumbs_base.html' %}
  {% block main_content %}
    <div class="container resume">
      <div class="row g-5">
        <div class="col-md-5 bg-light rounded-5 mb-5">
          <div class="hero my-5">
            {% if user.avatar %}
              <img src="{{ user.avatar.url }}" class="rounded-circle  mx-auto d-block mb-3" alt="user`s avatar" height="250">
            {% else %}
              <div class="rounded-circle bg-secondary mx-auto d-flex align-items-center mb-3" style="height: 250px; width: 250px">
                <p class="mx-auto text-light">Здесь будет ваше фото</p>
              </div>
            {% endif %}
            {% if user.first_name and user.last_name %}
              <h1 class="text-uppercase text-center">
                {{ user.first_name }}
                <br>
                <strong>{{ user.last_name }}</strong>
              </h1>
            {% else %}
              <p class="text-center">
                Вы не указали ваше имя или фамилию
                <br>
                <a href="#">Редактировать</a>
              </p>
            {% endif %}
            <p class="text-uppercase text-center lead"><strong>{{ resume.position }}</strong></p>
          </div>
          <div class="about-me mb-5">
            <h2 class="text-uppercase"><i class="fa-solid fa-circle-user title-icon fs-1 me-3 mb-1"></i>Обо мне</h2>
            {% if resume.about_me %}
              <p>{{ resume.about_me }}</p>
            {% else %}
              <div class="mb-3">
                <form method="post" action="{% url 'resume_about_me_update' username=user.username slug=resume.slug %}" id="resume_about_me">
                  {% csrf_token %}
                  <label for="id_about_me" class="form-label">Расскажите о себе:</label>
                  <div class="input-group">
                    {{ resume_about_me_form.about_me }}
                    <button type="submit" class="btn btn-secondary fw-bold">+</button>
                  </div>
                </form>
              </div>
            {% endif %}
          </div>
          <div class="my-contacts mb-5">
            <h2 class="text-uppercase"><i class="fa-solid fa-address-book title-icon fs-1 me-3 mb-1"></i>Контакты</h2>
            <ul class="list-unstyled">
              <li class="list-group-item mb-3">
                <h3 class="text-uppercase fs-5 me-3">Email:</h3><a href="mailto:{{ user.email }}">{{ user.email }}</a>
              </li>
              <li class="list-group-item mb-3">
                <h3 class="text-uppercase fs-5 me-3">Телефон:</h3><a href="tel:{{ profile.phone_number }}">{{ profile.phone_number }}</a>
              </li>
              <li class="list-group-item mb-3">
                <div class="sharebuttons btn-group btn-group-lg btn-group-justified">
                  <a href="https://twitter.com/intent/tweet?text=<?php the_title(); ?>&url=<?php the_permalink(); ?>&via=<?php echo get_the_author_meta( 'twitter', 1 ); ?>" class="btn btn-twitter" target="_blank">
                    <i class="fa fa-twitter"></i> <span>Tweet</span>
                  </a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=<?php the_permalink(); ?>" class="btn btn-facebook" target="_blank">
                    <i class="fa fa-facebook"></i> <span>Share</span>
                  </a>
                  <a href="https://plus.google.com/share?url=<?php the_permalink(); ?>" class="btn btn-google">
                    <i class="fa fa-google-plus" target="_blank"></i> <span>Plus 1</span>
                  </a>
                  <a href="https://www.linkedin.com/shareArticle?mini=true&url=<?php the_permalink(); ?>&title=<?php the_title(); ?>&source=<?php the_title(); ?>" class="btn btn-linkedin">
                    <i class="fa fa-linkedin" target="_blank"></i> <span>Link</span>
                  </a>
                  <a href="https://pinterest.com/pin/create/button/?url=<?php the_permalink(); ?>&description=<?php bloginfo('description'); ?>&media=<?php echo $image[0]; ?>" class="btn btn-pinterest" target="_blank">
                    <i class="fa fa-pinterest"></i> <span>Pin</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="personal-qualities mb-5">
            <h2 class="text-uppercase"><i class="fa-solid fa-circle-check title-icon fs-1 me-3 mb-1"></i>Личные качества</h2>
            {% if resume.soft_skills %}
              <p>{{ resume.soft_skills }}</p>
            {% else %}
              <div class="mb-3">
                <form method="post" action="{% url 'resume_soft_skills_update' username=user.username slug=resume.slug %}" id="resume_soft_skills">
                  {% csrf_token %}
                  <label for="id_soft_skills" class="form-label">Расcкажите о ваших сильных сторонах:</label>
                  <div class="input-group">
                    {{ resume_soft_skills_form.soft_skills }}
                    <button type="submit" class="btn btn-secondary fw-bold">+</button>
                  </div>
                </form>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-7 ps-5">
          <div class="education mb-5">
            <h2 class="text-uppercase"><i class="fa-solid fa-medal title-icon fs-1 me-3 mb-1"></i>Образование</h2>
            <ul class="list-unstyled">
              <li>
                {% if main_education %}
                  <h3 class="text-uppercase fs-5 me-3">{{ main_education.get_level }}</h3><p class="text-uppercase d-inline">// {{ main_education.get_degree.upper }}</p>
                  <ul class="list-group list-group-flush">
                    {% for institution in institutions %}
                      <li class="list-group-item">
                        <a href="{{ institution.website_url }}" class="text-uppercase mb-1">{{ institution.title }}</a>
                        {% if institution.description %}
                          <p>{{ institution.description }}</p>
                        {% endif %}
                        <div class="item-footer d-flex justify-content-between">
                          {% if institution.completion_date %}
                            <small class="align-self-center">{{ institution.completion_date | date:'Y' }}г.</small>
                          {% endif %}
                          <button type="button" class="btn ms-auto" data-bs-toggle="modal" data-bs-target="#{{ institution.pk }}">
                            <i class="fa-regular fa-pen-to-square"></i>
                          </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="{{ institution.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form method="post" action="{% url 'institution_update' username=user.username slug=resume.slug pk=institution.pk %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  {% for field in  institution_forms|get_value_from_dict:institution %}
                                    <div class="mb-3">
                                      <label class="form-label">{{ field.label }}</label>
                                      {{ field }}
                                      {% if field.name == 'description' %}
                                        <div id="descriptionHelp" class="form-text">Опишите факультет или специальность которую вы получили.</div>
                                      {% elif field.name == 'website_url' %}
                                        <div id="website-urlHelp" class="form-text">Вы можете добавить URL ссылку на сайт учебного учреждения.</div>
                                      {% elif field.name == 'diploma' %}
                                        <div id="diplomaHelp" class="form-text">Вы можете загрузить на сайт ваш диплом.</div>
                                      {% endif %}
                                    </div>
                                  {% endfor %}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Сохранить</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                  <form action="{% url 'institution_create' username=user.username slug=resume.slug %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-5">
                      <span class="input-group-text">Учебное учреждение</span>
                      {{ institution_create_form.title }}
                      <button class="btn btn-outline-secondary fw-bold" type="submit" id="button-addon2">+</button>
                    </div>
                  </form>
                {% else %}
                  <form action="{% url 'main_education_create' username=user.username slug=resume.slug %}" method="post">
                    {% csrf_token %}
                    <div class="input-group my-3">
                      <span class="input-group-text">Образование и квалификация</span>
                      {{ main_education_form.level }}
                      {{ main_education_form.degree }}
                      <button class="btn btn-outline-secondary fw-bold" type="submit" id="button-addon2">+</button>
                    </div>
                  </form>
                {% endif %}
                {% if additional_educations %}
                  <h3 class="text-uppercase fs-5 me-3">Дополнительное образование</h3>
                  <ul class="list-group list-group-flush">
                    {% for education in additional_educations %}
                      <li class="list-group-item">
                        <a href="{{ education.website_url }}" class="text-uppercase mb-1">{{ education.title }}</a>
                        {% if education.description %}
                          <p>{{ education.description }}</p>
                        {% endif %}
                        <div class="item-footer d-flex justify-content-between">
                          {% if education.completion_date %}
                            <small class="align-self-center">{{ education.completion_date | date:'Y' }}г.</small>
                          {% endif %}
                          <button type="button" class="btn ms-auto" data-bs-toggle="modal" data-bs-target="#{{ education.pk }}">
                            <i class="fa-regular fa-pen-to-square"></i>
                          </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="{{ education.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form method="post" action="{% url 'additional_education_update' username=user.username slug=resume.slug pk=education.pk %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  {% for field in  additional_education_forms|get_value_from_dict:education %}
                                    <div class="mb-3">
                                      <label class="form-label">{{ field.label }}</label>
                                      {{ field }}
                                      {% if field.name == 'description' %}
                                        <div id="descriptionHelp" class="form-text">Опишите учебную программу которую вы освоили.</div>
                                      {% elif field.name == 'website_url' %}
                                        <div id="website-urlHelp" class="form-text">Вы можете добавить URL ссылку на сайт учебной программы.</div>
                                      {% elif field.name == 'diploma' %}
                                        <div id="diplomaHelp" class="form-text">Вы можете загрузить на сайт ваш диплом или сертификат.</div>
                                      {% endif %}
                                    </div>
                                  {% endfor %}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Сохранить</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <form method="post" action="{% url 'additional_education_create' username=user.username slug=resume.slug %}">
                  {% csrf_token %}
                  <div class="input-group mb-5">
                    <span class="input-group-text">Дополнительное образование</span>
                    {{ additional_education_create_form.title }}
                    <button class="btn btn-outline-secondary fw-bold" type="submit" id="button-addon2">+</button>
                  </div>
                </form>
                {% if electronic_certificates %}
                  <h3 class="text-uppercase fs-5 me-3">Электронные сертификаты</h3>
                  <ul class="list-group list-group mt-3">
                    {% for certificate in electronic_certificates %}
                      <li class="list-group-item">
                        <div class="item-header">
                          <div class="ms-2 w-100 me-3">
                            <div class="mb-2"><a href="{{ certificate.certificate_url }}" class="">{{ certificate.title }}</a></div>
                          </div>
                        </div>
                        <div class="item-body d-flex justify-content-between align-items-start">
                          {% if certificate.completion_percentage %}
                            <div class="ms-2" style="width: 90%">
                              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ certificate.completion_percentage }}" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: {{ certificate.completion_percentage }}%"></div>
                              </div>
                            </div>
                            <span class="badge bg-primary mt-auto" style="height: 17px; line-height: 0.65;">{{ certificate.completion_percentage }}%</span>
                          {% endif %}
                        </div>
                        <div class="item-footer d-flex justify-content-between ms-2">
                          {% if certificate.completion_date %}
                            <small class="align-self-center">{{ certificate.completion_date | date:'E Y' }}г.</small>
                          {% endif %}
                          <button type="button" class="btn ms-auto pb-0" data-bs-toggle="modal" data-bs-target="#{{ certificate.pk }}">
                            <i class="fa-regular fa-pen-to-square"></i>
                          </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="{{ certificate.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form method="post" action="{% url 'electronic_certificate_update' username=user.username slug=resume.slug pk=certificate.pk %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  {% for field in  electronic_certificate_forms|get_value_from_dict:certificate %}
                                    <div class="mb-3">
                                      <label class="form-label">{{ field.label }}</label>
                                      {% if not field.name == 'completion_percentage' %}
                                        {{ field }}
                                      {% endif %}
                                      {% if field.name == 'certificate_url' %}
                                        <div id="certificate_urlHelp" class="form-text">Прикрепите ссылку на ваш сертификат в интернете.</div>
                                      {% elif field.name == 'certificate' %}
                                        <div id="certificateHelp" class="form-text">Вы можете загрузить ваш сертификат на сайт.</div>
                                      {% elif field.name == 'completion_percentage' %}
                                        <div class="mb-3 d-flex align-items-center">
                                          {{ field }}
                                          <span class="input-group-text ms-3">
                                            <output id="range_value_{{ certificate.pk }}" class="completion-percentage-value"></output>
                                          </span>
                                        </div>
                                        <div id="diplomaHelp" class="form-text">Оценка или процент выполнения курса по шкале от 0 до 100.</div>
                                      {% endif %}
                                    </div>
                                  {% endfor %}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Сохранить</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <form method="post" action="{% url 'electronic_certificate_create' username=user.username slug=resume.slug %}">
                  {% csrf_token %}
                  <div class="input-group my-3">
                    <span class="input-group-text">Электронный сертификат</span>
                    {{ electronic_certificate_create_form.title }}
                    <button class="btn btn-outline-secondary fw-bold" type="submit" id="button-addon2">+</button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

  {% endblock %}

{% endblock %}