{% extends 'base.html' %}

{% load app_resume_filters %}
{% load static %}


{% block title %}
  {% if owner == user %}
    Ваше резюме - {{ resume.position }} - CV Project
  {% else %}
    Резюме пользователя -
    {% if owner.first_name %}{{ owner.first_name }}{% else %}{{ owner.username }}{% endif %}
    - CV Project
  {% endif %}
{% endblock %}

{% block content %}
  {% include 'blocks/breadcrumbs.html' %}
  {% block main_content %}
    <div class="container resume">
      <div class="row gx-5">
        {% include 'blocks/user_card.html' with path_name='resume' object=owner %}
        <div class="col-lg-7">
          <div class="education mb-5">
            {% include 'blocks/prime_title.html' with icon='fa-medal' title='Образование'%}
            <ul class="list-unstyled">
              <li>
                {% if resume.maineducation %}
                  <div class="d-sm-flex mb-2 main-education-item">
                    <h3 class="text-uppercase fs-5 me-3 mb-0 py-1">{{ resume.maineducation.get_level }}</h3>
                    <div class="d-flex flex-grow-1">
                      {% if resume.maineducation.degree != 'Other' %}
                        <p class="text-uppercase mb-0 py-1">// {{ resume.maineducation.get_degree.upper }}</p>
                      {% endif %}
                      <div class="main-education-buttons-block ms-auto">
                        {% include 'blocks/buttons/edit_button.html' with id=resume.maineducation.pk %}
                      </div>
                    </div>
                  </div>
                  {% include 'blocks/update_modal.html' with path_name='main_education_update' object=resume.maineducation form=main_education_form %}
                  {% include 'app_resume/blocks/item_list.html' with update_path_name='institution_update' delete_path_name='institution_delete' object_set=resume.maineducation.institution_set.all form_set=institution_forms %}
                  {% include 'blocks/forms/item_create_form.html' with path_name='institution_create' form=institution_create_form %}
                {% else %}
                  {% if owner == user %}
                    {% include 'blocks/forms/item_create_form.html' with path_name='main_education_create' %}
                  {% else %}
                    <p class="text-body-secondary">Пользователь еще не добавил информацию в этот раздел</p>
                  {% endif %}
                {% endif %}
                {% if resume.additionaleducation_set.all or owner == user %}
                  {% include 'blocks/second_title.html' with title='Дополнительное образование' %}
                {% endif %}
                {% include 'app_resume/blocks/item_list.html' with update_path_name='additional_education_update' delete_path_name='additional_education_delete' object_set=resume.additionaleducation_set.all form_set=additional_education_forms %}
                {% include 'blocks/forms/item_create_form.html' with path_name='additional_education_create' form=additional_education_create_form %}
                {% if resume.electroniccertificate_set.all or owner == user %}
                  {% include 'blocks/second_title.html' with title='Электронные сертификаты' %}
                {% endif %}
                {% include 'app_resume/blocks/item_list.html' with update_path_name='electronic_certificate_update' delete_path_name='electronic_certificate_delete' object_set=resume.electroniccertificate_set.all form_set=electronic_certificate_forms %}
                {% include 'blocks/forms/item_create_form.html' with path_name='electronic_certificate_create' form=electronic_certificate_create_form %}
              </li>
            </ul>
          </div>
          <div class="skills mb-5">
            {% include 'blocks/prime_title.html' with icon='fa-laptop-code' title='Навыки' %}
            {% if not resume.skill_set.count and owner != user %}
              <p class="text-body-secondary">Пользователь еще не добавил информацию в этот раздел</p>
            {% endif %}
            {% include 'blocks/skill_list.html' with object_set=resume.skill_set.all %}
            {% include 'blocks/forms/item_create_form.html' with path_name='skill_create' form=skill_create_form %}
          </div>
          <div class="work-experience mb-5">
            {% include 'blocks/prime_title.html' with icon='fa-suitcase' title='Опыт работы' %}
            {% if not resume.workexpsection_set.count and owner != user %}
              <p class="text-body-secondary">Пользователь еще не добавил информацию в этот раздел</p>
            {% endif %}
            <ul class="list-unstyled">
              <li>
                {% for section in resume.workexpsection_set.all %}
                  <div class="d-sm-flex mb-2 align-items-center work-exp-section-item">
                    <h3 class="text-uppercase fs-5 me-3 mb-0">{{ section.title }}</h3>
                    <div class="d-flex flex-grow-1">
                      {% if section.start_date %}
                        <p class="text-uppercase align-self-center d-inline mb-0">// {{ section.start_date | date:'Y' }} - {{ section.finish_date | date:'Y' }}</p>
                      {% endif %}
                      <div class="work-exp-section-buttons-block d-flex ms-auto">
                        {% include 'blocks/buttons/edit_button.html' with id=section.pk %}
                        {% include 'blocks/buttons/delete_button.html' with delete_path_name='work_exp_section_delete' pk=section.pk %}
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->
                  {% include 'blocks/update_modal.html' with path_name='work_exp_section_update' object=section form=work_exp_section_update_forms|get_value_from_dict:section %}
                  <ul class="list-group list-group-flush mb-3">
                    {% for job_form_dict in jobs_in_sections|get_value_from_dict:section %}
                      <li class="list-group-item shadow bg-light mb-1 rounded-2">
                        <div class="item">
                          {% if job_form_dict.job.company %}
                            <a href="{{ job_form_dict.job.company_url }}" class="text-uppercase fw-bold mb-1 me-2" target="_blank"
                                {% if not job_form_dict.job.company_url %}disabled{% endif %}
                            >
                              {{ job_form_dict.job.company }}
                            </a>
                          {% endif %}
                          <p class="text-uppercase mb-1 d-inline">{{ job_form_dict.job.title }}</p>
                          {% if job_form_dict.job.start_date %}
                            <p class="text-uppercase d-inline">// {{ job_form_dict.job.start_date | date:'Y' }} - {{ job_form_dict.job.finish_date | date:'Y' }}</p>
                          {% endif %}
                          {% if job_form_dict.job.description %}
                            <p>{{ job_form_dict.job.description }}</p>
                          {% endif %}
                          <div class="item-footer d-flex justify-content-between">
                            {% if job_form_dict.job.project_url %}
                              <a href="{{ job_form_dict.job.project_url }}" target="_blank">
                                <small class="align-self-center">Сайт проекта</small>
                              </a>
                            {% endif %}
                            {% if job_form_dict.job.git_url %}
                              <a href="{{ job_form_dict.job.git_url }}" class="ms-2" target="_blank">
                                <small class="align-self-center">Проект на GitHub</small>
                              </a>
                            {% endif %}
                            <div class="hidden-buttons-block d-flex ms-auto">
                              {% include 'blocks/buttons/edit_button.html' with id=job_form_dict.job.pk %}
                              {% include 'blocks/buttons/delete_button.html' with delete_path_name='job_delete' section=section.pk pk=job_form_dict.job.pk %}
                              {% include 'blocks/buttons/like_button.html' with uuid_key=job_form_dict.job.pk %}
                              {% include 'blocks/buttons/comment_button.html' with uuid_key=job_form_dict.job.pk %}
                            </div>
                          </div>
                        </div>
                        <!-- Modal -->
                        {% include 'blocks/update_modal.html' with path_name='job_update' object=job_form_dict.job form=job_form_dict.job_update_form %}
                        {% include 'blocks/comments_modal.html' with uuid_key=job_form_dict.job.pk delete_path_name='job_delete' section=section.pk %}
                      </li>
                    {% endfor %}
                  </ul>
                  {% include 'blocks/forms/item_create_form.html' with path_name='job_create' form=job_create_form %}
                {% endfor %}
              {% include 'blocks/forms/item_create_form.html' with path_name='work_exp_section_create' form=work_exp_section_create_form %}
            </ul>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}

{% endblock %}